* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 77px;
}

body {
    font-family: 'Segoe UI', 'Arial', sans-serif;
    background-color: #1e1e1e;
    color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header, footer, nav {
    background-color: #111;
    padding: 8px;
    width: 100%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 255, 0, 0.1);
}

header, footer p {
    font-size: 1.1rem;
    color: #ffffff;
}

header p {
    width: auto;
    padding: 8px;
    margin: 0px;
    border-bottom: 2px solid #4CAF50;
    border-top: 2px solid #4CAF50;
}

header h1 {
    font-size: 2rem;
    color: #00e676;
    padding-bottom: 8px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    position: sticky;
    top: 0;
    padding: 0;
    padding-bottom: 8px;
}

a {
    color: #00e676;
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border: 2px solid #00e676;
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.2s;
}

a:hover {
    background-color: #2e2e2e;
    transform: scale(1.05);
}

footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 -4px 8px rgba(0, 255, 0, 0.1);
}

footer p {
    margin-bottom: 0;
    padding: 4px;
}

footer a {
    color: #00e676;
    margin: 0;
    padding: 8px;
    text-decoration: none;
    font-weight: bold;
    border: none;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 85%;
    margin: 2rem auto;
}

h2 {
    font-size: 1.8em;
    margin-bottom: 15px;
    color:  #00e676;
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 8px;
}

p {
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 15px;
}

ul {
    list-style-type: disc;
    padding-left: 25px;
    margin-bottom: 0;
    background-color: #1e1e1e;
    border-radius: 8px;
    margin-bottom: 15px;
}

ul li {
    padding: 4px;
    font-size: 1em;
}

pre code.json {
    background-color: #1e1e1e;
    padding: 10px 15px;
    border-radius: 8px;
    display: block;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.95em;
    white-space: pre-wrap;
    word-wrap: break-word;
    margin-bottom: 15px;
}

#iframe div{
    padding: 0;
    height: 100%;
}

#iframe iframe {
    width: 100%;
    min-height: 150vh;
    height: 100%;
    border: none;
    display: block;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.2);
    background-color: #1e1e1e;
}

div {
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    line-height: 1.6;
    margin: 1rem auto;
    padding: 15px;
    background-color: #2a2a2a;
    box-shadow: 0 0 10px rgba(0,255,0,0.1);
    border-radius: 10px;
}

h3 {
    color: #00e676;
}

@media (max-width: 768px) {
    main {
        padding: 1rem;
    }
    iframe {
        height: 400px;
    }
}
